body {
    background-color: #320d0d;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#tittle {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    padding: 20px;
}

h1 {
    font-weight: 200;
}

a {
    color: white;
}

a:hover {
    color:rgb(191, 15, 15);
    transition: 0.3s all;
}

#conta-btn {
    border: 2px solid rgb(191, 15, 15);
    padding: 10px;
    border-radius: 16px;
}

#conta-btn:hover {
    background: rgb(191, 15, 15);
    color: white;
}

h1 {
    font-weight: 200px;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 50px;
}

aside>.tittle02>h2 {
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

#access {
    color: rgb(191, 15, 15);
}
p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;;
}

img {
    width: 600px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: rgb(191, 15, 15);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover {
    cursor: pointer;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}